@import '../../main.scss';

.home-header {
  height: 24rem;
  font-size: 4rem;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background: linear-gradient(
    0deg,
    rgba(254, 203, 0, 1) 0%,
    rgba(206, 17, 39, 1) 86%
  );
  color: white;

  .home-title {
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
  }

  .search-container {
    display: flex;
    position: relative;

    input {
      width: 32rem;
      height: 3rem;
      font-size: 1rem;
      padding: 0 0.5rem;
      border-radius: 10px;
      border: none;
    }

    button {
      width: 2.3rem;
      height: 2.3rem;
      background-color: $red-color;
      border-radius: 5px;

      color: white;

      transition: 300ms;
      border: none;

      position: absolute;
      top: 50%;
      right: 1%;
      transform: translate(0, -50%);

      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
        background-color: #a31021;
      }
    }
  }
}

.home-section {
  width: 80%;
  margin: 2rem auto;

  .home-section-header {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .home-card-set {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    gap: 1rem;

    margin-bottom: 1rem;
  }
}
