@import '../../main.scss';

.home-header {
  height: 24rem;
  font-size: 8vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background: linear-gradient(
    0deg,
    rgba(254, 203, 0, 1) 0%,
    rgba(206, 17, 39, 1) 86%
  );
  color: white;

  .home-title {
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
  }

  .search-container {
    display: flex;
    width: 80%;
    justify-content: center;

    input {
      min-width: 50%;
      font-size: 1rem;
      padding: 0 0.5rem;
      border-radius: 10px 0 0 10px;
      border: none;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }

    button {
      background-color: $red-color;
      border-radius: 0 10px 10px 0;

      color: white;

      transition: 300ms;
      border: none;

      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

      &:hover {
        cursor: pointer;
        background-color: #a31021;
      }
    }
  }
}

.home-section {
  width: 80%;
  margin: 1rem auto;

  .home-section-header {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  // .home-card-set {
  //   display: flex;
  //   flex-wrap: wrap;

  //   justify-content: center;
  //   gap: 1rem;

  //   margin-bottom: 1rem;
  // }

  // Trying new css 5/12
  .home-card-set {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1rem;
  }
}
