$red-color: #ce1127;
$red-darker-color: #ac0d1fca;
$--red-secondary-color: #f0b2b9;

$yellow-color: #fecb00;
$light-yellow-color: #f2dd88;

$cream-color: #f0f0c9;

$blue-color: #0038a7;
$light-blue-color: #adc2ee;

$green-color: #157145;
