@import '../../main.scss';

.lesson-card {
  background-color: $red-color;
  color: white;

  width: 20rem;
  height: 7rem;

  border-radius: 10px;

  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: center;

  transition: 300ms;

  .lesson-title,
  .lesson-number {
    margin-left: 1rem;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-0.5rem);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  }
}
