@import '../../main.scss';

.carousel-container {
  position: relative;
  display: flex;

  width: 400px;

  justify-content: center;
  align-items: center;
}

.carousel-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 20rem;
  height: 26rem;
  border-radius: 10px;

  margin-bottom: 2.5rem;

  padding: 1rem;

  color: #ffffff;
  background-color: $red-color;
}

.carousel-card-lesson {
  font-size: 1.2rem;
}

.carousel-card-title {
  font-size: 2.5rem;
}

.carousel-card-status {
  color: $yellow-color;
  font-weight: 500;
}

.left {
  left: -10%;
}

.right {
  right: -10%;
}

.arrow {
  position: absolute;
  color: $blue-color;
  user-select: none;

  transition: 200ms;

  &:hover {
    cursor: pointer;
    color: $yellow-color;
  }
}
