.container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color-light--2);
  padding: 1rem;
  border-radius: 20px;

  width: 32rem;

  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.tagalog {
  color: var(--color-brand--1);
  text-transform: capitalize;
}

.translation {
  display: flex;
  gap: 0.5rem;
}

.english {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

.english h5 {
  background-color: var(--color-brand--1);
  color: #fff;
  padding: 0 0.8rem;
  border-radius: 20px;
}

.tenses {
  background-color: var(--color-brand--1);
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  list-style: none;
}

.conjugations {
  color: var(--color-brand--2);
}

.tenses li {
  color: #fff;
}

@media (max-width: 900px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .container {
    width: 90%;
  }

  .container h3 {
    font-size: 1.5rem;
  }

  .container h5 {
    font-size: 1.1rem;
  }

  .container p {
    font-size: 0.8rem;
  }
}
