@import '../../main.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  margin: 0 1rem;

  .logo {
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;

    transition: 300ms;
  }

  .logo:hover {
    cursor: pointer;
    color: $red-color;
  }

  .page-nav {
    display: flex;

    button {
      margin: 0 3rem;
      position: relative;
      letter-spacing: 0.5px;
      background: none;
      border-style: none;
      font-size: 1rem;
      font-family: inherit;
      font-weight: 400;
    }

    button:hover {
      cursor: pointer;
    }

    button:after {
      content: '';
      position: absolute;
      background-color: $red-color;
      height: 3px;
      width: 0;
      left: 0;
      bottom: -4px;
      transition: 400ms;
    }

    button:hover:after {
      width: 100%;
    }
  }

  .user-control {
    display: flex;
    color: white;
    width: 5rem;
    height: 2rem;

    border-radius: 5px;

    align-items: center;
    justify-content: center;
    background-color: $red-color;

    transition: 300ms;
  }

  .user-control:hover {
    cursor: pointer;
    background-color: #a31021;
  }
}
