@import '../../main.scss';

.section-header {
  margin: 2rem 2rem;
  font-size: 2rem;
}

.section-lessons {
  width: 80%;
  margin: auto;

  gap: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    font-size: 1.6rem;
    width: 15rem;
    height: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $red-color;
    color: white;
    transition: 300ms ease-in-out;
    border-radius: 10px;

    &:hover {
      cursor: pointer;
      background-color: $yellow-color;
      color: $blue-color;
      transform: translateY(-0.6rem);
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    }
  }
}
